@model MvcWebUI.Models.UserViewModels
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>
@using (Html.BeginForm("Update","User",FormMethod.Post))
{
   @Html.HiddenFor(m=>m.User.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.User.FirstName)
        @Html.TextBoxFor(m=>m.User.FirstName, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.LastName)
        @Html.TextBoxFor(m=>m.User.LastName, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.UserName)
        @Html.TextBoxFor(m=>m.User.UserName, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Email)
        @Html.TextBoxFor(m=>m.User.Email, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Password)
        @Html.TextBoxFor(m=>m.User.Password, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.RoleId)
        @Html.DropDownListFor(m=>m.User.RoleId, new SelectList(Model.Roles,"Id","RoleName"), new {@class="form-control"})
    </div>

    <br />
    <button type="submit" class="btn btn-success">Güncelle</button>

}
